/* Here goes your CSS */
body {
   background-color: #EBEBEB;
   font-family: 'Roboto', sans-serif;
   color: #8DAFEF;
   size: 10px;
   line-height: 20px;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif ;
  color: #252E40;
}

a {
  text-decoration: none;
  color: #878985;
}

a:hover{
  color: #581E22;
}

ul
{
list-style-type: none;
}

.container {
  width: 1150px;
  left: 0;
  margin: 0 auto;
}

.card-white {
  background: white;
  margin: 10px auto;
  padding: 30px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 5px 5px, 5px, #581E22;
}

.text-center {
  text-align: center;
}

.img-circle{
  width: 180px;
  height: 200px;
  border-radius: 50%;
}

img{
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin: 10px;
}

.sql-img{
  width: 180px;
  height: 150px;
  border-radius: 5px;
}

.btn-red {
  width: 150px;
  height: 20px;
  background-color: #ED3937;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
}

.btn-blue {
  width: 150px;
  background-color: #2558AA;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
}

.btn-text{
  color: white;
}

.list_inline_social li {
  display: inline-block;
  margin-left: -50px;
  width: 40%;
}

.list_inline_languages li {
  display: inline-block;
  width: 22%;
}

#sidebar {
  position: fixed;
  background-color: #313432;
  width: 150px;
  left: 0;
  top: 0;
  bottom: 0;
}

#sidebar a {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

#sidebar i {
  font-size: 20px;
}

#page-content {
  margin-left: 150px;
}

#left {
  float: left;
  width: 40%;
  margin-right: 10px;
  display: block;
}

#right {
  float: right;
  width: 58%;
  display: block;
}

.clear {
  clear: both;
}

#footer {
 display: block;
}

#social
{
  height: 21%;
}

input .text-input{
  width: 300px;
  height: 30px;
  border: 1px solid #cccccc;
  padding: 5px;
}
textarea{
  width: 600px;
  height: 120px;
  border: 1px solid #cccccc;
  padding: 5px;
}
